* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


#gridSquare {
    border: 1px solid black;
}


#paintingContainer {
    display: grid;
    border: 1px solid black;
}


.colored {
    background-color: black;
}